

<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <div class="container col-md-12 justify-content-right">
  <a class="navbar-brand text-white" [routerLink]="['/home']" >Dating App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
    <ul class="navbar-nav mr-auto" *ngIf="logedIn()">
      <li class="dropdown-item " routerLinkActive="active">
        <a class="nav-link text-secondary  " [routerLink]="['/members']"  >
          Matches 
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="dropdown-item" routerLinkActive="active">
        <a class="nav-link text-secondary"[routerLink]="['/lists']" >Lists</a>
      </li>
      <li class="dropdown-item" routerLinkActive="active">
        <a class="nav-link text-secondary" [routerLink]="['/messages']" >Messages</a>
      </li>
     
       
      
    </ul>




    <div class="btn-group mr-3" dropdown *ngIf="logedIn()">
      <img class="img img-thumbnail" [src]="memberPhotoUrl">
      <a id="button-basic" dropdownToggle  class="dropdown-toggle text-light nav-link" >
               Welcome {{_authService.getUserName()!}} 
         
      </a>
   
      <ul id="dropdown-basic " style="margin-top:7px;" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/member/edit']"
          ><i class="fa fa-user"></i>Edit Profile</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-cog"></i> Settings</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item"  (click)="logOut()"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
    </div>
    
    
      <form class="form-inline my-2 my-lg-0 ml-auto navbar-form navbar-right " #loginForm="ngForm" *ngIf="!logedIn()" (submit)="login()" >
        <input class="form-control mr-sm-2" name="userName" type="text" required placeholder="UserName" 
          [(ngModel)]="model.UserName" >
        <input class="form-control mr-sm-2" name="passWord" type="password" required placeholder="Password"
          [(ngModel)]="model.PassWord">
        <button class="btn btn-success my-2 my-sm-0" [disabled]="loginForm.invalid" type="submit">Login</button>
      </form>
    </div>
 
 </div>
</nav>
<!-- {{loginForm.value|json}} -->