<div class="container mt-4">
 
  <div class="row ">
      <div class="col-md-4">
       <h1>Your Profile</h1> 
      </div>
      <div class="alert alert-info col-md-7" *ngIf="editForm.dirty">
        <strong>Information:</strong>  You are made changes. any unsaved changes will be lost!
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 ">
    <div class="card mt-2 card-text-center">
      <div class="card-img-top image-thumbinal text-center mx-auto">
        <img class="card-img-top" [src]="photoUrl" [alt]="user?.knowAs" />
      </div>
      <div class="card-body p-1">
        <div class="ml-5 mr-5">
          <strong>Location</strong>
          <p>{{ user?.city }},{{ user?.country }}</p>
          <strong>Age</strong>
          <p>{{ user?.age }}</p>
          <strong>Last Active</strong>
          <p>{{ user?.lastActive }}</p>
          <strong>Member Science</strong>
          <p>{{ user?.created }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
 
          <button class="btn btn-success w-100" form="editForm" type="submit"
          [disabled]="!editForm.dirty"
          >Save</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-7 card">
    <form  #editForm="ngForm" id="editForm" (ngSubmit)="editProfile()" >
    <div class="tap-panel">
      <tabset class="member-tabset">
        <tab heading="Edit Profile">
          <h4>Description</h4>
          <textarea rows="6" class="col-md-12" [(ngModel)]="user?.introduction!" name="introduction"></textarea>
          <h4>Looking For</h4>
          <textarea rows="6" class="col-md-12" [(ngModel)]="user?.lookingFor!" name="lookingFor"></textarea>
          <h4>Interests</h4>
          <textarea rows="6" class="col-md-12" [(ngModel)]="user?.interests!" name="interests"> </textarea>
          <h4>Location Details</h4>
          <div class="form-inline">
            <label class="mr-1">City:</label>
            <input type="text" class="form-control mr-1" [(ngModel)]="user?.city!" name="city">
            <label  class="mr-1">Country:</label>
            <input type="text" class="form-control mr-1" [(ngModel)]="user?.country!" name="country">
          </div>
        </tab>
        <tab heading="Edit Photos">
          <app-photo-editor [photos]="user?.photos"> 
          </app-photo-editor>
        </tab>
 
           

      </tabset>
    </div>
    </form>
  </div>
 
</div>

